 html,
 body {
     height: 100%;
     font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif !important;
 }
 /* body {
     background: -moz-linear-gradient(top, rgba(249, 249, 249, .7) 37%, rgba(249, 249, 249, 0.6) 70%, rgba(249, 249, 249, 0.5) 100%), url("../img/bg.png");
     background: -webkit-linear-gradient(top, rgba(249, 249, 249, .7) 37%, rgba(249, 249, 249, 0.6) 70%, rgba(249, 249, 249, 0.5) 100%), url("../img/bg.png");
     background: linear-gradient(to bottom, rgba(249, 249, 249, .7) 37%, rgba(249, 249, 249, 0.6) 70%, rgba(249, 249, 249, 0.5) 100%), url("../img/bg.png");
 } */

 .text-red {
     color: #b90000;
 }

 .fh {
     height: calc(100% - 130px);
 }

 .editor-region .CodeMirror {
     min-height: calc(100% - 50px);
 }

 .op .CodeMirror {
     background-color: transparent;
     min-height: 45%;
     border: 1px dashed #ebebec;
 }

 .tinyToast {
     color: white !important;
     background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%) !important;
     border-radius: 2px !important;
 }

 .pr-5 {
     padding-right: 5px;
 }

 .author {
     display: inline-block;
     color: #333;
     vertical-align: middle;
     cursor: pointer;
     background-color: #fff;
     border: 1px solid #d5d5d5;
     border-radius: 3px;
     background-color: #eee;
     background-image: -webkit-linear-gradient(top, #fcfcfc, #eee);
     background-image: -moz-linear-gradient(top, #fcfcfc, #eee);
     background-image: linear-gradient(to bottom, #fcfcfc, #eee);
     padding: 6px 10px 4px;
     font-size: 12px;
     height: 28px;
 }

 .github-corner:hover .octo-arm {
     animation: octocat-wave 560ms ease-in-out
 }

 @keyframes octocat-wave {
     0%,
     100% {
         transform: rotate(0)
     }
     20%,
     60% {
         transform: rotate(-25deg)
     }
     40%,
     80% {
         transform: rotate(10deg)
     }
 }

 @media (max-width:500px) {
     .github-corner:hover .octo-arm {
         animation: none
     }
     .github-corner .octo-arm {
         animation: octocat-wave 560ms ease-in-out
     }
 }

 section.left {
     background: #f4f1f5;
     padding: 12px;
 }

 section.left .heading {
     padding: 12px 36px;
 }

 section.right {
     background: white;
     padding: 12px;
 }

 .text-heading h1,
 .text-heading p {
     margin: 0 !important;
     padding: 4px;
 }

 button {
     width: 120px;
     border-radius: 30px;
     text-transform: uppercase;
     font-size: 14px;
     font-weight: 700;
     background: none;
     border: 2px solid #607D8B;
     color: #607D8B;
     text-transform: uppercase;
     padding: 8px 6px;
 }

 button:active {
     background: #607D8B;
     border: 2px solid #333;
     color: white;
 }